<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dario.examen">
    <uses-permission
        android:name="android.permission.BATTERY_STATS"
        android:maxSdkVersion="18" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Carrito" />

        <receiver android:name=".Menu$BatteryBroadcastReceiver">
            <intent-filter>
                <action android:name="dario.examen.CUSTOM_INTENT"></action>
            </intent-filter>
        </receiver>
        <receiver android:name=".Carrito$BatteryBroadcastReceiver">
            <intent-filter>
                <action android:name="dario.examen.CUSTOM_INTENT"></action>
            </intent-filter>
        </receiver>

        <activity android:name=".Historial"></activity>
    </application>

</manifest>